/* ======== Global ======== */
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    max-width: 1920px;
    margin:auto;
}
.container-title{
    color: purple;
    text-align: center;
    text-transform: uppercase;
}
/* ======== Land-Page ======== */
.land-page {
    height: 100vh;
    width: 100%;
    background-image: url('../Images/virendra\ jpg_Cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* ======== Navigation ======== */
.navbar {
    position: sticky;
    top: 0px;
    background-color: transparent;
    transition: all 0.3s;
    z-index: 1000;
}

.navbar-nav {
    margin: auto;
}

.navbar-nav .nav-item {
    transition: all 0.3s;
}
.nav-item a{
    color: purple !important;
    font-weight: 600 !important;
}
.logo-div{
    display: flex;
    justify-content: center;
    align-self: center;
    
}
.logo{
    height: 5vh;
    float: right;
}
.navbar-nav .nav-item:hover {
    color: purple;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;

}

.navbar.scrolled {
    background-color: #ffffff;
    padding: 5px 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    position: fixed;
    top: 0px;
    width: 100%;
}
#dropdown{
    border: none;
    background-color: transparent;
    padding: 10px 0px;
    color: purple;
    font-weight: 600;
}
.options{
    background-color: transparent;
    border-radius: 0px;
    padding: 10px 0px;
}

/* ======== About ======== */
.about {
    /* height: 100vh; */
    width: 100%;
    padding: 60px 0px 60px 0px;
}
.about h1{
    color: purple;
}
.about-card{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.get-a-quate{
    height: 60vh;
    margin: auto;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    
}
.input-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    /* width: 100%; */
}
.get-a-quate input{
    display: block;
    width: 100%;
    padding: 8px 10px;
    border-radius: 4px;
    margin: 20px auto;
    border: 1px solid gray;
}
.get-a-quate button{
    width: 100%;
    margin: auto;
    border: none;
    border-bottom: 3px solid purple;
    color: purple;
    font-weight: 600;
    padding: 10px 0px;
    cursor: pointer;transition: all 0.3s;
}
.get-a-quate button:hover{
    background-color: purple;
    color: #fff;
}
.get-a-quate h2{
    text-align: center;
    padding-top: 12px;
}
/* ========We Do Section ======== */
.we-do{
    min-height: 45vh;
    margin: auto;
    background-color: #f9f9f9;
    padding-bottom: 20px;
}
.we-do h1{
    padding: 40px 0px;
}
.we-do-cards{
    text-align: center;
    height: 3rem;
    background-color: orange;
}
.we-do-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem; 
  }

.item {
    padding: 20px 10px;
    text-align: center;
    margin-bottom: 1rem;
    height: 7rem;
    position: relative;
    border-radius: 4px;
    border: 1px solid purple;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  .item img{
    width: 30%;
    position: relative;
    top: -40px;
    margin: auto;
  }

/* ========We Do Section ======== */
  .you-tube{
    min-height: 80vh;
    width: 100%;
    background-color: aliceblue;
    padding-bottom: 40px;
  }
  .you-tube h1{
    padding: 20px 0px;
    text-align: center;
  }
  .video-left iframe{
    width: 100%;
  }
  .video-right  iframe{
    width: 100%;
  }

  /* ============== Our Works =========== */
    .our-works{
        min-height: 100vh;
        width: 100%;
        background-color: rgba(217, 203, 217, 0.507);
        padding: 30px 0px;
    }
    .works-cards img{
        width: 100%;
    }
    
    .modal-content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
      }
      .works-img{
        width: 100%;
        margin-top: 10px;
      }
      .works-cards {
        max-width: 100%;
        max-height: 100%;
      }

/* =========Our Team ========= */
.our-team{
    min-height: 30vh;
    padding: 20px 0px;
}
.our-team h1{
    padding-top: 20px;
}
.our-team img{
    width: 100%;
}
/* ========== Footer =========== */
  footer{
    min-height: 15vh;
    width: 100%;
    background-color: #111111;
  }
  .footer-top{
    min-height: 20vh;
    width: 100%;

  }
  .social-icon{
    width: 20%;
    margin: auto;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items:center;
  }
 .social-icon a{
    text-decoration: none;
 }
 .social-icon i:hover{
    background-image: linear-gradient( 45deg, hsl(224deg 95% 39%) 0%, hsl(264deg 62% 44%) 17%, hsl(288deg 74% 38%) 33%, hsl(306deg 100% 33%) 50%, hsl(317deg 100% 37%) 67%, hsl(325deg 100% 40%) 83%, hsl(333deg 91% 44%) 100%);
    border:2px solid  purple;
}

  .social-icon i{
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
  }
  .footer-links{
    width: 40%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .footer-links ul{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
  }
  .footer-links ul li{
    display: inline;
  }
  .footer-links a{
    text-decoration: none;
    color: #fff;
  }
  .footer-links li{
    padding: 5px 0px;
  }
  .copyright{
    height: 7vh;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 0.8rem;
  }
/* ======== MediaScreen 1024-px ======== */
@media (max-width: 1024px) {
    .we-do-container {
        grid-template-columns: repeat(4, 1fr);
    }
    .social-icon{
        width: 40%;
    }
  }

/* ======== MediaScreen 992-px ======== */
@media (max-width: 768px) {
    .navbar-toggler {
        margin-left: auto;
        border: 2px solid white;
        color: #fff;
    }

    .navbar-nav {
        text-align: center;
    }
    .land-page {
        background-image: url('../Images/bg-mobile-hero.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .about{
        padding: 30px 0px 0px 0px;
    }
    .about-card{
        text-align: center;
    }
    .get-a-quate{
        height: auto;
        width: 90%;
        margin: auto;
        border-radius: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        margin-bottom: 20px;
        padding: 30px 0px;
    }
    .we-do{
        margin: auto;
        margin-bottom: 20px;
    }
    .we-do-cards{
        width: 50%;
        text-align: center;
        margin: 0px;
    }
    .item img{
        top: -35px;
    }
    .we-do-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .works-img{
        margin-top: 20px;
    }
    .footer-links ul{
        flex-direction: column;
        height: auto;
        padding: 20px 0px;
    }
    .social-icon{
        width: 60%;
        height: 10vh;
    }
}